Repository Revature-Leafbound/Leafbound-API, pull requests merged in 2022-06, with the labels that each got.

#28 Create the author model
  src/main/java/com/leafbound/models/author.java
Labels: authors

#29 Create the author model
  src/main/java/com/leafbound/repositories/AuthorRepository.java
Labels: authors

#30 Create the author model
  src/main/java/com/leafbound/models/author.java
Labels: authors

#31 Create Author Service
  src/main/java/com/leafbound/services/AuthorService.java
  src/main/java/com/leafbound/services/AuthorServiceImpl.java
Labels: authors

#33 Create: Author Controller
  src/main/java/com/LeafboundApplication.java
  src/main/java/com/leafbound/aspects/LoggingAspect.java
  src/main/java/com/leafbound/config/AppConfig.java
  src/main/java/com/leafbound/config/JPAConfiguration.java
  src/main/java/com/leafbound/config/Swagger2Configuration.java
  src/main/java/com/leafbound/controllers/AuthorController.java
  src/main/java/com/leafbound/models/AuthorDTO.java
  src/main/java/com/leafbound/models/author.java
  src/main/java/com/leafbound/services/AuthorService.java
  src/main/java/com/leafbound/services/AuthorServiceImpl.java
  src/main/resources/application.properties
  src/main/resources/log4j.properties
Labels: authors

#36 Cleaning actions
  src/main/java/com/leafbound/controllers/AuthorController.java
  src/main/java/com/leafbound/services/AuthorService.java
  src/main/java/com/leafbound/services/AuthorServiceImpl.java
Labels: authors

#37 9 user models
  .github/workflows/docker-image.yml
  .gitignore
  Branching Guidelines/Branching Guidelines.md
  Daily Scrum/DevOps.md
  Daily Scrum/Leads.md
  Daily Scrum/Team_[Chris].md
  Daily Scrum/Team_[Dhruv].md
  Dockerfile
  buildspec.yaml
  buildspec.yml
  src/main/java/com/leafbound/aspects/LoggingAspect.java
  src/main/java/com/leafbound/config/AppConfig.java
  src/main/java/com/leafbound/config/JPAConfiguration.java
  src/main/java/com/leafbound/config/Swagger2Configuration.java
  src/main/java/com/leafbound/models/User.java
  src/main/resources/application.properties
  src/main/resources/log4j.properties
Labels: user

#46 create user repository
  src/main/java/com/leafbound/repositories/UserRepository.java
Labels: user

#47 Create User Service
  src/main/java/com/leafbound/services/UserService.java
  src/main/java/com/leafbound/services/UserServiceImpl.java
Labels: user

#48 repo and service layer add
  .factorypath
  .metadata/.lock
  .metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
  .metadata/.plugins/org.eclipse.core.resources/.root/3.tree
  .metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
  .metadata/.plugins/org.eclipse.core.runtime/.settings/Cloud Foundry.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/Docker.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.boot.dash.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
  .metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
  .metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
  .metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
  .metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
  .metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
  .metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
  .metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
  .metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
  .metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
  .metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
  .metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
  .metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
  .metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
  .metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
  .metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
  .metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
  .metadata/version.ini
  .settings/org.eclipse.core.resources.prefs
  .settings/org.eclipse.jdt.apt.core.prefs
  .settings/org.eclipse.jdt.core.prefs
  .settings/org.eclipse.m2e.core.prefs
  .settings/org.springframework.ide.eclipse.prefs
  src/main/java/com/leafbound/repositories/CartRepository.java
  src/main/java/com/leafbound/services/CartService.java
  src/main/java/com/leafbound/services/CartServiceImpl.java
Labels: cart

#45 Started Testing
  .factorypath
  .settings/org.eclipse.core.resources.prefs
  .settings/org.eclipse.jdt.apt.core.prefs
  .settings/org.eclipse.jdt.core.prefs
  .settings/org.springframework.ide.eclipse.prefs
  src/test/java/com/leafbound/test/controllers/ProductControllerTest.java
  src/test/java/com/leafbound/test/services/ProductServiceTest.java
Labels: products

#44 Finished product repository
  src/main/java/com/leafbound/repositories/ProductRepository.java
Labels: products

#43 Created controller file.
  src/main/java/com/leafbound/controllers/ProjectController.java
Labels: products

#41 20 product service
  src/main/java/com/leafbound/services/ProductService.java
  src/main/java/com/leafbound/services/ProductServiceImpl.java
Labels: products

#40 Completed product model layer
  src/main/java/com/leafbound/models/Product.java
Labels: products

#14 created UserController class
  src/main/java/com/leafbound/controllers/UserController.java
Labels: user

#42 Create: User Layers
  .gitignore
  src/main/java/com/leafbound/controllers/UserController.java
  src/main/java/com/leafbound/models/User.java
  src/main/java/com/leafbound/repositories/UserRepository.java
  src/main/java/com/leafbound/services/UserService.java
  src/main/java/com/leafbound/services/UserServiceImpl.java
Labels: user

#55 Fixed issues caused by missing imports
  src/main/java/com/leafbound/services/ProductService.java
  src/main/java/com/leafbound/services/ProductServiceImpl.java
Labels: products

#61 38 product testing
  src/test/java/com/leafbound/test/controllers/ProductControllerTest.java
  src/test/java/com/leafbound/test/services/Bean.java
  src/test/java/com/leafbound/test/services/ProductServiceTest.java
  src/test/java/com/leafbound/test/services/services_impl_for_ref
Labels: products

#63 9 user models
  .gitignore
  pom.xml
  src/main/java/com/leafbound/models/User.java
Labels: user

#60 60 Cart Controller
  src/main/java/com/leafbound/controllers/CartController.java
  src/main/java/com/leafbound/models/CartsRequestModel.java
Labels: cart

#68 User Table Updates
  .gitignore
  .vscode/settings.json
  src/main/java/com/leafbound/models/User.java
  src/main/java/com/leafbound/models/UserDTO.java
  src/main/java/com/leafbound/services/JwtService.java
  src/main/java/com/leafbound/services/JwtServiceImpl.java
  src/main/java/com/leafbound/services/UserServiceImpl.java
Labels: user

#78 5 feature user login
  src/main/java/com/leafbound/controllers/UserController.java
  src/main/java/com/leafbound/repositories/UserRepository.java
  src/main/java/com/leafbound/services/JwtService.java
  src/main/java/com/leafbound/services/JwtServiceImpl.java
  src/main/java/com/leafbound/services/UserService.java
  src/main/java/com/leafbound/services/UserServiceImpl.java
Labels: user

#73 Created UserRole layers
  src/main/java/com/leafbound/controllers/UserRoleController.java
  src/main/java/com/leafbound/models/UserRole.java
  src/main/java/com/leafbound/repositories/UserRoleRepository.java
  src/main/java/com/leafbound/services/UserRoleService.java
  src/main/java/com/leafbound/services/UserRoleServiceImpl.java
Labels: roles, table

#50 7 table cart
  Daily Scrum/Team_[Dhruv].md
  src/main/java/com/leafbound/controllers/CartController.java
  src/main/java/com/leafbound/models/Carts.java
  src/main/java/com/leafbound/repositories/CartRepository.java
  src/main/java/com/leafbound/services/CartService.java
  src/main/java/com/leafbound/services/CartServiceImpl.java
Labels: cart

#49 6 table products
  src/main/java/com/leafbound/controllers/ProductController.java
  src/main/java/com/leafbound/models/Product.java
  src/main/java/com/leafbound/models/ProductDTO.java
  src/main/java/com/leafbound/repositories/ProductRepository.java
  src/main/java/com/leafbound/services/ProductService.java
  src/main/java/com/leafbound/services/ProductServiceImpl.java
  src/test/java/com/leafbound/test/controllers/ProductControllerTest.java
  src/test/java/com/leafbound/test/services/Bean.java
  src/test/java/com/leafbound/test/services/ProductServiceTest.java
  src/test/java/com/leafbound/test/services/services_impl_for_ref
Labels: products

#83 Fix bug with Order.user
  src/main/java/com/leafbound/models/User.java
Labels: bug, user

#86 Application not running.
  src/main/java/com/leafbound/models/Order.java
  src/main/java/com/leafbound/models/User.java
Labels: bug

#104 Fixed user login for endpoints
  src/main/java/com/leafbound/controllers/UserController.java
  src/main/java/com/leafbound/services/UserService.java
  src/main/java/com/leafbound/services/UserServiceImpl.java
Labels: bug

#102 Fixed user login for endpoints
  src/main/java/com/leafbound/controllers/UserController.java
  src/main/java/com/leafbound/services/UserServiceImpl.java
Labels: bug

#105 92 endpoint testing user
  src/main/java/com/leafbound/controllers/UserController.java
  src/main/java/com/leafbound/services/UserService.java
  src/main/java/com/leafbound/services/UserServiceImpl.java
Labels: user

#110 96 endpoint testing orders
  src/main/java/com/leafbound/controllers/OrderController.java
Labels: enhancement

#115 Created STARTUP.md documentation
  Branching Guidelines/Imgs/Screen Shot 2022-06-20 at 20.46.21.png
  README.md
  STARTUP.md
Labels: documentation

#123 set update order to find by order id instead of user id
  src/main/java/com/leafbound/controllers/OrderController.java
Labels: bug
